<header class="p-3 mb-2 bg-dark text-white">
    <h1>Select Workout</h1>
    <div class="input-group mt-4">
        <input type="text" class="form-control" aria-label="Text input with dropdown button">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </div>
      </div>
</header>
<aside>
    <h2 class="ml-3">Workouts</h2>
    <hr class="mb-4"/>
    <div class="d-flex flex-row">
        <div class="d-flex align-items-start flex-column bd-highlight ml-4">
            <!-- <a type="button" class="btn btn-outline-secondary ml-2 mb-1">Upper push</a>
            <a type="button" class="btn btn-outline-secondary ml-2 mb-1">Upper pull</a>
            <a type="button" class="btn btn-outline-secondary ml-2 mb-1">Lower push</a>
            <a type="button" class="btn btn-outline-secondary ml-2 mb-1">Lower pull</a>
            <a type="button" class="btn btn-outline-secondary ml-2 mb-1">Cardio #1</a>
            <a type="button" class="btn btn-outline-secondary ml-2 mb-1">Cardio #1</a> -->
            <% for (let w of workouts) { %>
                <a type="button" class="btn btn-outline-secondary ml-2 mb-3" href=<%= "/selectworkout/" + w.id %>><%= w["name"] %></a>
            <% } %>
        </div>
        <div class="d-flex flex-column bd-highlight mb-3"  style="width: 100%;">
          <% if (selectedWorkout) { %>
              <% for (let e of exercise_objects) { %>
          <div class="card text-white bg-dark mb-3 ml-5 mr-5" >
              <div class="card-header card-title"><%= e.exercise %></div>
              <div class="card-body">
                  <p class="card-text"><%= e.description %></p>
                <p class="card-text">Equipment Needed: <% for (let n of e.equipment) { %><%= n %><% } %></p>
                <p class="card-text">Muscle Groups: <% for (let m of e.muscleGroups) { %><%= m %><% } %></p>
              </div>
            </div><% } } %>
          
        </div>

    </div>
</aside>