<link rel="stylesheet" href="selectworkout.css">
<header class="p-3 mb-2 bg-dark text-white">
    <h1>Select Workout</h1>
    <div class="input-group mt-4">
        <input type="text" class="form-control" aria-label="Text input with dropdown button">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </div>
      </div>
</header>
<aside>
    <p class="text-center fs-4"><b>Choose from any of the pre-made workouts below. Can't find what you're looking for, use the search bar above!</b></p>
    <hr class="mb-4"/>
  <div class="d-flex flex-column">
        <div class="d-flex align-items-start flex-row bd-highlight ml-4">
            <% for (let w of workouts) { %>
                <a type="button" class="btn btn-outline-secondary ml-2 mb-3" href=<%= "/selectworkout/" + w.id %>><%= w["name"] %></a>
            <% } %>
        </div>
      <div>
        <!-- <div class="d-flex flex-row justify-content-between flex-wrap" style="width: 100%;"> -->
          <% if (selectedWorkout) { %>
            <div class="card m-4">
              <div class="card-header"><b>
                Workout Overview, Warm-Up, & Cool-Down</b>
              </div>
              <div class="card-body">
                <ol class="card-text">
                  <li class="card-text">Warm-Up: 5-10 minutes of light cardio (such as jogging or jumping jacks) to get your heart rate up and warm up your muscles.</li>
                  <li class="card-text">Complete each exercise in a circuit-style format for the prescribed sets and reps (ie. complete exercise 1, 2, 3...etc. then back to the beginning)</li>
                  <li class="card-text">Cool-Down: 5-10 minutes of light cardio (such as walking or cycling) to gradually lower your heart rate.
                    Stretching for all major muscle groups, holding each stretch for 20-30 seconds.</li>
                  <li class="card-text"><b><i>Remember to use a weight that is comfortable for you, focus on proper form, and take breaks as needed.</i></b></li>
                </ol>
              </div>
            </div>
            <div class="d-flex flex-row justify-content-between flex-wrap" style="width: 100%;">
              <% for (let e of exercise_objects) { %>
          <!-- <div class="card text-white bg-dark mb-3 ml-5 mr-5" >
              <div class="card-header card-title"><%= e.exercise %></div>
              <div class="card-body">
                  <p class="card-text"><%= e.description %></p>
                <p class="card-text">Equipment Needed: <% for (let n of e.equipment) { %><%= n %><% } %></p>
                <p class="card-text">Muscle Groups: <% for (let m of e.muscleGroups) { %><%= m %><% } %></p>
              </div> -->
              <div class="card border-dark bg-light m-2" style="width: 21rem;">
                <iframe class="card-img-top" src="<%= e.video %>"></iframe>
                <div class="card-header"><b><%= e.exercise %></b></div>
                <div class="card-body text-dark">
                  <p class="card-text"><%= e.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item border-dark bg-light">Sets: <%= e.sets %></li>
                  <li class="list-group-item border-dark bg-light">Reps: <%= e.reps %></li>
                  <li class="list-group-item border-dark bg-light">Equipment Needed: <% for (let n of e.equipment) { %><%= n %><% } %></li>
                  <li class="list-group-item border-dark bg-light">Muscle Groups: <% for (let m of e.muscleGroups) { %><%= m %><% } %></li>
                </ul>
           </div><% } } %>
        </div>
    </div>
</aside>

