<div class="container">
  <h1 class="page-header">Edit</h1>
  <form action=<%= "/equipment/" + equipment.id %> method="POST">

    <div class='form-group'>
      <label for="title">Name</label>
      <select class="form-control" id="titleInput" name="name" required>
        <option value="<%= equipment.name %>" selected disabled><%= equipment.name %></option>
        <% equipmentArray.forEach(equipment => { %>
          <option value="<%= equipment %>"><%= equipment %></option>
        <% }) %>
        </select>
    </div>


    <div class="form-group">
      <label for="title">Stock</label>
      <input type="text" name="stock" class="form-control" id="titleInput" value="<%= equipment.stock %>">
    </div>
    <button type="submit" class="btn btn-outline-secondary">Submit</button>
  </form>
  <a href="/equipment" class="btn btn-outline-secondary">Back</a>
</div>
