<div class="container">
  <h1 class="page-header">Edit</h1>
  <form action="/gym/<%= gymID %>/equipment/<%= equipment.id %>" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <select class="form-control" id="name" name="name" required>
        <option value="<%= equipment.name %>"><%= equipment.name %></option>
        <% for (const e of equipmentArray) { %>
          <% if (e !== equipment.name) { %>
            <option value="<%= e %>"><%= e %></option>
          <% } %>
        <% } %>
      </select>
    </div>

    <div class="form-group">
      <label for="stock">Stock</label>
      <input type="text" name="stock" class="form-control" id="stock" value="<%= equipment.stock %>">
    </div>

    <div class="form-group">
      <label for="condition">Condition</label>
      <select class="form-control" id="condition" name="condition" required>
        <option value="<%= equipment.condition %>"><%= equipment.condition %></option>
        <% for (const c of conditions) { %>
          <% if (c !== equipment.condition) { %>
            <option value="<%= c %>"><%= c %></option>
          <% } %>
        <% } %>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a href="/gym/<%= gymID %>" class="btn btn-secondary mt-3">Back</a>
</div>
