<div class="container">
  <h1 class="page-header">Edit</h1>
  <form action="/gym/<%= gymID %>/equipment/<%= equipment.id %>" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <select class="form-control" id="name" name="name" required>
        <option value="<%= equipment.name %>"><%= equipment.name %></option>
        <% for (const e of equipmentArray) { %>
          <% if (e !== equipment.name) { %>
            <option value="<%= e %>"><%= e %></option>
          <% } %>
        <% } %>
      </select>
    </div>

    <div class="form-group">
      <label for="stock">Stock</label>
      <input type="text" name="stock" class="form-control" id="stock" value="<%= equipment.stock %>">
    </div>

    <div class="form-group">
      <label for="title">Condition</label>
      <select class="form-control" id="conditionInput" name="condition" onchange="showInputField()" required>
        <option value="<%= equipment.condition %>"><%= equipment.condition %></option>
        <% for (const c of conditions) { %>
          <% if (c !== equipment.condition) { %>
            <option value="<%= c %>"><%= c %></option>
          <% } %>
        <% } %>
      </select>
    </div>
    <div id="repairNote" class="form-group" style="display: none;">
      <label for="description">Repair Note</label>
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Note" name="repairNote"><%= equipment.repairNote %></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a href="/gym/<%= gymID %>" class="btn btn-secondary mt-3">Back</a>
</div>
<script>
  const option = document.getElementById('conditionInput').value;
  const repairNoteTextField = document.getElementById('repairNote');
  if (option == "Bad") {
    repairNoteTextField.style.display = "block"
  }
  const showInputField = () => {
    const option = document.getElementById('conditionInput').value;
    const repairNoteTextField = document.getElementById('repairNote');
    if (option == "Bad") {
      repairNoteTextField.style.display = "block"
    } else {
      repairNoteTextField.style.display = "none"
    }
  }
</script>