<header class="p-3 mb-2 bg-dark text-white">
  <h1>Gyms</h1>
</header>
<a class="btn btn-outline-secondary" href=<%= "/addgym" %>>Add Gym</a>
<ul class="list-group">
<% gyms.forEach(function (g) { %>
  <li class="list-group-item">
    <strong><%= g.name %>: </strong>
    <%= g.address %>
    <a class="pull-right" href=<%= "/gym/edit/" + g.id %>>|   Edit   |</a>
    <a class="pull-right" href=<%= "/gym/delete/" + g.id %>>Delete    |</a>
    <a class="pull-right" href=<%= "/gym/" + g.id %>>Manage Equipment    |</a>
  </li>
<% }) %>
</ul>