<header class="p-3 mb-2 bg-dark text-white">
  <h1>Gyms</h1>
</header>
<a class="btn btn-outline-secondary" href=<%= "/addgym" %>>Add Gym</a>
<section class="d-flex flex-row">
  <% gyms.forEach(function (g) { %>
    <div class="card border-dark bg-light" style="width: 18rem;">
        <div class="card-header"><b><%= g.name %></b> - <%= g.address %></p></div>
        <div class="card-body text-dark">
          <p><a class="pull-right btn btn-outline-secondary" href=<%= "/gym/" + g.id %>>Manage Equipment</a></p>
          <p><a class="pull-right btn btn-outline-secondary" href=<%= "/gym/edit/" + g.id %>>Edit</a></p>
          <p><a class="pull-right btn btn-outline-secondary" href=<%= "/gym/delete/" + g.id %>>Delete</a></p>
        </div>
        </div>
  <% }) %>
</section>