<header class="p-3 mb-2 bg-dark text-white">
  <h1>Gyms</h1>
</header>
<a class="btn btn-secondary rounded-pill px-3" style="margin: 10px;" href=<%= "/addgym" %>>Add Gym</a>
<section style="display: grid; grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));">
  <div class="d-flex flex-row  flex-wrap" style="width: 100%;">
    <% for (let g of gyms) { %>
    <div class="card border-dark bg-light m-2" style="width: 21rem;">
      <div class="card-header"><b><%= g.name %> - <%= g.address %></b>
      <p>Phone: <%= g.phone %></p></div>
      <div class="card-body text-dark">
        <h1 style="font-size: 20px;">Equipment</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Stock</th>
              <th scope="col">Condition</th>
            </tr>
          </thead>
          <% for (const e of g.equipment) { %>
          <tbody>
            <tr>
              <th scope="row"><%= e.name %></th>
              <td><%= e.stock %></td>
              <td><% if (e.condition == "Good") { %>
                <span class="badge badge-success"><%= e.condition %></span>
              <% } else if (e.condition == "Moderate") { %>
                <span class="badge badge-warning"><%= e.condition %></span>
              <% } else { %>
                <span class="badge badge-danger"><%= e.condition %></span>
              <% } %></td>
            </tr>
          </tbody>
          <% } %>
        </table>
        <p><a class="pull-right btn btn-outline-secondary" href=<%= "/gym/" + g.id %>>Manage Equipment</a></p>
          <p><a class="pull-right btn btn-outline-secondary" href=<%= "/gym/edit/" + g.id %>>Edit</a></p>
          <p><a class="pull-right btn btn-outline-secondary" href=<%= "/gym/delete/" + g.id %>>Delete</a></p>
      </div>
 </div><% } %>
</div>
</div>
</section>